<p class="d-flex">
  <mat-toolbar>
    <span>Lista de Tareas</span>
    <span class="example-spacer"></span>
    <button mat-icon-button>
      <mat-icon>check_circle_outline</mat-icon>
    </button>
  </mat-toolbar>
</p>

<div style="padding:3rem">
  <div class="d-flex justify-content-end mb-3">
    <button (click)="openDialog()" mat-raised-button color="basic">
      Añadir tarea
      <mat-icon>note_add</mat-icon>
    </button>
  </div>

 

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let task"> {{task.id}} </td>
      </ng-container>
    
      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let task"> {{task.fecha | date: "dd-MM-YYYY"}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let task"> {{task.nombre}} </td>
      </ng-container>
    
       <!-- Prioridad Column -->
       <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let task"> {{task.prioridad.nombre}} </td>
      </ng-container>
    


      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones</th>
        <td mat-cell *matCellDef="let task">
          <button (click)="openDialog(task)" mat-raised-button color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-raised-button color="warn" (click)="deleteTask(task.id)">
            <mat-icon  >delete</mat-icon>
          </button>
        </td>
      </ng-container>

    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>



</div>